.profile-back-btn {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 61px;
  background: $bg-grey;
  border-right: 1px solid $light;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  &:hover {
    background: $bg-dark;
  }
}
