$white: #ffffff;
$dark: #20232B;
$light: #B1B2B5;
$tangerine: #F4CC00;
$bg-dark: #16202A;
$bg-grey: #2B2F37;
$red: #FF0000;
$green: #70CC16;

@mixin roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
@mixin roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
@mixin roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
